.home_body_wrapper {
    margin:auto 116px ;
}
.top_body_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:30px;
}
.ask_questions button{
    width: 240px;
    border-radius: 15px;
    height: 40px;
    margin: 2% auto;
    background-color: rgb(81,108,240);
    border-radius: 15px;
    border: 2px solid rgb(81,108,240);
    font-size: 16px;
}

.ask_questions button a {
    color: #fff;
    text-decoration: none;
}
.ask_questions button:hover {
    background-color:rgb(254,131,3);
    border:2px solid rgb(254,131,3);
    cursor: pointer;
}
.search_input input{
    border: 1px solid silver;
    border-radius: 15px;
    font-size: 17px;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 10px;
    width: 100%;
}
.search_input input:hover {
    border: 1px solid rgb(81,108,240);
}
.search_input input::placeholder {
    padding-left: 20px;
}
.username_wrapper {
    color: rgb(81,108,240);
    margin-bottom: 20px;
}

.hr {
    border: 4px solid rgb(238,240,244);
    border-top: 6px;
}