/* header__wrapper */
/* .header__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding:10px 15px;
}
.header_menubar {
    display: flex;
}
.header_wrapper_logo {
    margin-right: 20%;
    margin-top: 15px;
}
.header_wrapper_logo img {
    max-width: 200px;
}
.header_middle_wrapper  ul{
    display: flex;
    list-style: none;
}
.header_middle_wrapper ul li{
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header_middle_wrapper ul li a:hover {
    color: rgb(254,131,3);
}
.header_middle_wrapper li a {
    color: black;
    text-decoration: none;
}
.header_signin_wrapper {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.header_signin_wrapper button {
    width: 170px;
    height: 40px;
    background-color: rgb(81,108,240);
    border-radius: 5px;
    border: 2px solid rgb(81,108,240);
    text-align: center;
}
.header_signin_wrapper button:hover {
    background-color: rgb(254,131,3);
    border: 2px solid rgb(254,131,3);
}
.header_signin_wrapper button a{
    color: white;
    text-decoration: none;
}
.menuIcon {
    display: none;
}
@media only screen and (max-width: 860px) {
    .header_wrapper_logo {
        margin-right: 5%;
    }
} */
/* Media queries for small screens (max-width: 768px) */

/* @media only screen and (max-width: 768px) { */
    /* header_css */
    /* .header__wrapper {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    .header_manubar {
        display: none;
    }
    .header_wrapper_logo {
        padding-right: 15px;
    }
    .menuIcon {
        display: flex;
    }
    .header_middle_wrapper ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .header_signin_wrapper {
        display: block;
    }
    .header_signin_wrapper button {
        width: 100%;
        margin-top: 10px;
    } */
    /*CSS for dropdow */
    /* .dropdown_content {
        flex-grow: 1;
        overflow: auto;
    }
    .dropdown_content {
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 360px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding-bottom: 452px;
    }
    .dropdown_content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown_content a button {
        width: 170px;
        height: 40px;
        background-color: rgb(81,108,240);
        border-radius: 5px;
        border: 2px solid rgb(81,108,240);
        text-align: center;
    }
    .dropdown_content a button:hover {
        background-color: rgb(254,131,3);
        border: 2px solid rgb(254,131,3);
    }
    .dropdown_content a:hover {color: rgb(254,131,3)};
} */
